{% extends 'base.html.twig' %}
{% block title %}A Propos - Village green
{% endblock %}
{% block body %}
	<div class="container text-center">
		<h3>Découvrez la nouvelle génération de magasin de musique !</h3>
		<p>
			Tout est là pour se faire plaisir : un choix immense parmi les marques les plus prestigieuses, 
			des conseillers passionnés tous musiciens et des studios d’essai à votre disposition pour choisir 
			dans les meilleures conditions.
		</p>
	</div>
	<br>
{% endblock %}
