{% extends 'base.html.twig' %}
{% block title %}Contact - Village Green
{% endblock %}
{% block body %}
	<div class="container text-center">
		<h3>Contactez-nous</h3>
		<p>Yes do it!</p>
	</div>
{% endblock %}
